### Exercise 1 :
Given a list of numbers, calculate the sum of the numbers until a negative number is encountered, using two methods:

**a.** Use `break` to exit a `for` loop early once a negative number is detected.

**b.** Use a `while` loop.

**Example**

**Input**:
```numbers = [5,4,10,-2,12,8]```

**Output**: `19`

In [ ]:
numbers = [5,4,10,-2,12,8]
numbers_sum = 0
for num in numbers:
    if num < 0:
        break
    numbers_sum += num
print(numbers_sum)

In [ ]:
numbers = [5,4,10,-2,12,8]
numbers_sum = 0
index = 0

while (index < len(numbers)) and (numbers[index] >= 0) :
    numbers_sum += numbers[index]
    index += 1
    
print(numbers_sum)

### Exercise 2 :

Given a list of numbers, calculate the product of all odd numbers. Use `continue` to skip even numbers.

**Example**

**Input**:
```numbers = [5,4,3,6,1,0]```

**Output**: `15`

In [ ]:
numbers = [5,4,3,6,1,0]
product = 1
for num in numbers:
    if num % 2 == 0:
        continue
    product *= num
print(product)


### Exercise 3 : 

Write a program that calculates how many years it will take for a sum of money to grow to a target amount at a given yearly compound interest rate. **Hint**: Use a `while` loop.

**Example**

**Input**:
- yearly interest rate: 5%
- initial investment: 1000 EUR
- target sum: 1200 EUR

**Output**:
It will take 4 years to reach the target of 1200 EUR for an initial investment of 1000 EUR with an interest rate of 5%.

In [ ]:
initial = 1000
target = 1200
rate = 0.05

years = 0

while initial < target:
    initial += initial * rate
    years += 1

print(f"It will take {years} years to reach the target amount.")

### Exercise 4 : 
Write a program that generates and prints a multiplication table pattern. The user should input the number of rows they want in the pattern. Each row of the pattern should represent the multiplication table for that row number. Row number should be between 2 and 9. 
**Hint**: use nested loops.

**Example**

**Input**:
``rows = 4``

**Output**:
```
1	
2	4	
3	6	9	
4	8	12	16
```

In [ ]:
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        product = i * j
        print(i * j, end='  ')
    print()

### Exercise 5 : 
Given an ordered list of Consumer Price Index (CPI) values over several years, calculate the annual inflation rates, i.e. the rate of increase in CPI between two consecutive years. Round the inflation rates to 2 decimal points. **Hint:** Use `range` and a `for` loop. 

**Input**:
``cpi_values = [100, 105, 112]``

**Output**:
``
inflation_rates= [5, 6.7]
``

In [ ]:
cpi_values = [100, 105, 110, 112, 116]
inflation_rates = []
for i in range(1, len(cpi_values)):
    inflation_rate = (cpi_values[i] - cpi_values[i-1]) / cpi_values[i-1] * 100
    inflation_rates.append(round(inflation_rate,2))
inflation_rates

### Exercise 6 :
Given two lists, one with the number of employed persons and the other with the number of unemployed persons for several years, calculate the unemployment rate for each year. We assume that the input lists are chronologically ordered. **Hint:** Use `zip` and a `for` loop.

**Example**

**Input**:
```
employed = [900, 1200, 1750]

unemployed = [100, 300, 250]
```

**Output**:
```
unemployment_rates = [10, 20, 12.5]
```

In [ ]:
employed = [900, 1200, 1750]
unemployed = [100, 300, 250]

unemployment_rates = []
for e, u in zip(employed, unemployed):
    unemployment_rate = (u / (e + u)) * 100
    unemployment_rates.append(unemployment_rate)

unemployment_rates

### Exercise 7 : 

Given a list of European capitals:
```python
capitals = ["Paris", "London", "Berlin", "Rome", "Madrid", "Lisbon", "Warsaw", "Vienna", "Prague", "Athens", "Prague", "Berlin", "London"]
```

Using `enumerate` and loops, find and print the indices of all occurrences of the capitals "Prague" and "Berlin".

In [ ]:
capitals = ["Paris", "London", "Berlin", "Rome", "Madrid", "Lisbon", "Warsaw", "Vienna", "Prague", "Athens", "Prague", "Berlin", "London"]

prague_indices = []
berlin_indices = []

for idx, capital in enumerate(capitals):
    if capital == "Prague":
        prague_indices.append(idx)
    elif capital == "Berlin":
        berlin_indices.append(idx)

print(f"The capital 'Prague' occurs at indices: {prague_indices}")
print(f"The capital 'Berlin' occurs at indices: {berlin_indices}")

### Exercise 8 :
Using list comprehension, create a list of all numbers between 1 and 100 that end with the digit 5.

In [ ]:
nums_ending_with_5 = [num for num in range(1, 101) if str(num)[-1] == '5']
nums_ending_with_5

### Exercise 9 :
Using list comprehension and given a list of strings, generate a new list containing only the strings that have more than 5 characters.

In [ ]:
names = ["Amy", "Barbara", "Charlie", "Dave", "Elaine", "Frank", "George", "Hank", "Ian", "Jerry"]
long_names = [name for name in names if len(name) > 5]
long_names

### Exercise 10 :

Given a list of numbers:  ``scores = [78, 85, 90, 56, 65, 72, 88, 79, 60, 82]``:

1. Create a new text file named `data.txt`.
2. Write the following numbers, each on a new line: `78, 85, 90, 56, 65, 72, 88, 79, 60, 82`.
3. Close the file.
4. Open and read the file, then print its content.

**Hints:**
- Use `.read()`, `.write()` methods for file operations.
- Remember to close the file after you're done with it.

In [ ]:
# Step 1: Create a new text file named `data.txt`.
file = open("data.txt", "w")

# Step 2: Write the numbers, each on a new line.
numbers = [78, 85, 90, 56, 65, 72, 88, 79, 60, 82]

for number in numbers:
    file.write(str(number) + "\n")

# Step 3: Close the file.
file.close()

# Step 4: Open and read the file, then print its content.
file = open("data.txt", "r")
content = file.read()
print("Numbers from data.txt:")
print(content)
file.close()